@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pText {
  from {
    opacity: 1;
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    transform-origin: center center; /* Set the transform origin to the center of the image */
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center center; /* Maintain the same transform origin for the end of the animation */
  }
}
@keyframes clouds {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes glideUp {
  0% {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
article {
  padding-top: 30px;
}

.story {
  animation: fadeInUp 1000ms ease-in-out;
}
.story p {
  animation: pText 1000ms ease-in-out;
}

#place {
  animation: fadeInUp 1000ms ease-in-out;
}
#place p {
  animation: pText 1000ms ease-in-out;
}

#studio {
  animation: fadeInUp 1000ms ease-in-out;
}
#studio p {
  animation: pText 1000ms ease-in-out;
}

#characters {
  padding-top: 40px;
  animation: fadeInUp 1000ms ease-in-out;
}
#characters h3 {
  margin-bottom: 0px;
}

#oscar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 125.28px;
  animation: fadeInUp 1000ms ease-in-out;
}

.oscar__article {
  box-sizing: content-box;
  width: 825px;
  height: 200.02px;
}

.oscar__title {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  background-image: url("../foce-child/assets/images/oscars-bg-image.png");
  background-size: 800px 260px;
  letter-spacing: -2%;
  width: 675px;
}
.oscar__title::before {
  content: url("../foce/assets/images/Sunflower.png");
  width: 216px;
  height: auto;
  position: absolute;
  top: -200px;
  left: 95px;
}

#studio div::after {
  content: url("../foce/assets/images/Orchid.png");
  position: absolute;
  width: 172px;
  height: auto;
  left: 1334px;
  top: 400px;
}

.banner {
  position: relative;
  background-image: none;
  overflow: hidden;
  top: -80px;
}
.banner img {
  margin-top: 15px;
  width: 45%;
}

.video-container {
  position: relative;
  max-width: 1440px;
  height: 806px;
  top: 80px;
}

.background-video {
  z-index: -1;
  animation: fadeInDown 1000ms ease-in-out;
}

.fallback-image {
  display: none;
}

.logo-img {
  position: absolute;
  animation: float 2s ease-in-out infinite, fadeInUp 1000ms ease-in-out;
}

.site-footer::before, .site-footer::after {
  display: none;
}

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
#studio div::after,
.oscar__title::before,
.site-footer ul::after {
  line-height: 0;
  animation: rotation 10000ms linear infinite;
}

.animated-header {
  display: inline-flex;
  animation: glideUp 300ms ease-in-out;
}
.animated-header:nth-child(2) {
  animation-delay: 300ms;
}
.animated-header:nth-child(3) {
  animation-delay: 600ms;
}
.animated-header:nth-child(4) {
  animation-delay: 900ms;
}

.story #characters div {
  flex: none;
}

.story #characters h3 {
  background-position: left;
  text-align: left;
  margin-left: 100px;
  padding-left: 45px;
}

.swiper {
  max-width: 1266px;
  height: 500px;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
}

.swiper-pagination {
  padding-top: 0;
}

.open {
  display: flex !important;
}

.burger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF5E9;
  top: 80px;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  animation: fadeInDown 1000ms ease-in-out;
}

.burger-menu__body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: fixed;
  padding: 30px 10px;
}

.burger-menu__content {
  display: flex;
  position: absolute;
  z-index: 1;
}

.burger-menu__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  background: #FFF5E9;
  margin-left: 480px;
  margin-top: 170px;
}

.burger-menu ul {
  position: relative;
  top: 208px;
  left: 451px;
}

.burger-menu__text li a {
  font-size: 54px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  transition: text-shadow 0.3s ease;
}
.burger-menu__text li a:hover {
  text-shadow: -1px -1px 4px rgba(255, 92, 0, 0.3), 4px -1px 4px rgba(255, 92, 0, 0.3), -1px 4px 4px rgba(255, 92, 0, 0.3), 4px 4px 4px rgba(255, 92, 0, 0.3);
}

.burger-menu__content img {
  max-width: none;
  position: absolute;
  z-index: 1;
}

img.black {
  width: 150px;
  top: 305px;
  left: 1030px;
}

img.orange {
  width: 105px;
  top: 550px;
  left: 70px;
}

img.violet {
  width: 110px;
  top: 200px;
  left: 250px;
}

img.violet-flower {
  width: 63px;
  top: 250px;
  left: 1385px;
}

img.red-flower {
  width: 70px;
  top: 400px;
  left: 150px;
}

img.hibiscus-flower {
  width: 626px;
  top: 350px;
  left: 1100px;
}

img.orchid-flower {
  width: 172px;
  top: 35px;
  left: -70px;
}

img.sunflower-flower {
  width: 216px;
  top: 60px;
  left: 1039px;
}

img.burger-menu__logo {
  width: 207px;
  top: 0px;
  left: 630px;
}

.story #place {
  background-image: url("../foce-child/assets/images/Studio_Koukaki-image_place.png");
  position: relative;
}

.cloud__little {
  position: absolute;
  left: 793px;
  top: 248px;
  filter: blur(20px);
}

.cloud__big {
  position: absolute;
  left: 1031px;
  top: 65px;
  filter: blur(20px);
}

.lock {
  overflow: hidden;
}

.main-navigation {
  display: flex;
}

.navbar {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  cursor: pointer;
  margin-left: 540px;
}

.menu-icon {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Ensure the spans are stacked vertically */
  width: 40px;
  height: 20px;
  cursor: pointer;
  margin: 20px 132px;
}

.menu-icon span {
  background-color: black; /* Add background color to make the spans visible */
  height: 1px; /* Increase height for better visibility */
  width: 100%;
  margin: 3px; /* Add margin for spacing between spans */
  transform: scale(1);
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  transition: all 0.3s;
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon.active span {
  transform: scale(0);
}

.menu-icon.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.menu-icon.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

/*# sourceMappingURL=style.css.map */
