//navigation
@media (max-width: 1192px) {
    //navbar
    .menu-icon {
        margin: 20px 60px;
    }
}
@media (max-width: 1024px) {
    .story #characters h3 {
        background-position: center;
        text-align: center;
        padding-left: 5%;
        margin: 0 auto;
    }
    
    #oscar {
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    
    img.oscar__img {
        margin-top: 4vw;
    }
    
    .cloud__big {
        left: 900px;
    }
    
    .oscar__title  {
        font-size: 2em;
    }
}

@media (max-width: 900px) {
    .swiper-slider img {
        overflow: none;
    }
    
    .oscar__title {
        font-size: 1.7rem;
    }
}

@media (max-width: 781px) {
    #oscar {
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .cloud__big {
        left: 700px;
    }
    
    .cloud__little {
        left: 500px;
    }
    
    #studio h2::before {
        visibility: hidden;
    }
    
    .oscar__title {
        font-size: 1.5rem;
    }
    
    .story #characters h3 {
        margin-left: 0;
    }
}

@media (max-width: 666px) {
    //navbar
    .site-title {
        font-size: 18px;
    }
    
    img.burger-menu__logo {
        @include burgerImgPos(13vw, 0vw, 44vw);
    }
    
    .burger-menu__texte {
        left: 29vw;
    }
    
    #oscar__article {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .burger-menu__texte {
        left: 28vw;
    }
}

@media (max-width: 550px) {
    .site-title {
        left: 10%;
        transform: translateX(-10%);
    }
}

@media (max-width: 500px) {
    .site-title {
        display: none;
    }
    .menu-icon {
        margin: 0 auto;
        
    }
}

@media (max-width: 425px) {
    .menu-icon {
        margin: 15px auto;
    }

    
    .story #characters{
        margin-top: 5px;
    }
    
    .clouds {
        visibility: hidden;
    }
    
    #studio h2 {
        font-size: 2.5rem;
    }
    
    #oscar {
        align-items: flex-start;
        margin: 3.5vw auto;
    }
    
    .oscar__article {
        margin-left: 12vw;
    }
    .oscar__title {
        font-size: 1.1rem;
    }
    
    img.oscar__img {
        margin-left: 18vw;
        width: 60%;
    }
    .swiper {
        width: 75%;
    }
    
    .site-footer {
        padding-top: 12em;
    }
    
    .site-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    li {
        padding-top: 1em;
    }
}


@media (max-width: 320px) {
  
    
    #studio h2 {
        font-size: 1.5rem;
    }
    
    .story #characters h3,
    .story #place h3 {
        font-size: 2rem;
    }
    .oscar__title {
        font-size: 0.9rem;
    }
    .swiper {
        width: 70%;
    }
}