//navigation
@media (max-width: 1192px) {
    //navbar
    .menu-icon {
        margin: 20px 60px;
    }
}
@media (max-width: 1024px) {
    .story #characters h3 {
        background-position: center;
        text-align: center;
        padding-left: 5%;
        margin: 0 auto;
    }
    
    #oscar {
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    
    img.oscar__img {
        margin-top: 4vw;
    }
    
    .cloud__big {
        left: 900px;
    }
    
    .oscar__title  {
        font-size: 2em;
    }
    
    //MENU
    img.black {
        left: 800px;
    }
    
    img.sunflower-flower {
        left: 900px;
    }
    .burger-menu ul {
        top: 13vw;
        left: 29vw;
    }
    img.hibiscus-flower {
        top: 710px;
        left: 200px;
        
    }
}

// @media (max-width: 900px) {
//     .swiper-slider img {
//         overflow: none;
//     }

//     .oscar__title {
//         font-size: 1.7rem;
//     }
// }

// @media (max-width: 781px) {
//     #oscar {
//         margin-bottom: 0;
//         align-items: center;
//         justify-content: center;
//     }
// }

@media (max-width: 768px) {
    .banner img {
        width: 70%;;
    }
    .cloud__big {
        left: 700px;
    }
    
    .cloud__little {
        left: 500px;
    }
    
    #studio h2::before {
        visibility: hidden;
    }
    
    .oscar__title {
        font-size: 1.5rem;
    }
    
    .oscar__flower {
        top: -25vw;
        right: 66vw ;
    }
    .story #characters h3 {
        margin-left: 0;
    }
    
    //menu
    
    .burger-menu ul {
        top: 25vw;
        left: 25vw;
    }
    img.violet,
    img.red-flower {
        display: none;
    }
    img.black {
        left: 700px;
    }
    img.burger-menu__logo {
        width: 70%;
        left: 30vw;
    }
    
    img.hibiscus-flower {
        top: 710px;
        left: 90px;
    }
}

@media (max-width: 666px) {
    .site-title {
        font-size: 18px;
    }
    
    img.burger-menu__logo {
        @include burgerImgPos(13vw, 0vw, 44vw);
    }
    
    // .burger-menu ul {
    //     left: 29vw;
    // }
    
    #oscar__article {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    // .burger-menu ul {
    //     left: 28vw;
    // }
}

@media (max-width: 550px) {
    .site-title {
        left: 10%;
        transform: translateX(-10%);
    }
}

@media (max-width: 500px) {
    .site-title {
        display: none;
    }
    .menu-icon {
        margin: 0 auto;
        
    }
}

@media (max-width: 425px) {
    .banner img {
        width: 100%;
    }
    .menu-icon {
        margin: 15px auto;
    }
    
    .story #characters{
        margin-top: 5px;
    }
    
    .clouds {
        visibility: hidden;
    }
    
    #studio h2 {
        font-size: 2.5rem;
    }
    
    #oscar {
        align-items: flex-start;
        margin: 3.5vw auto;
    }
    
    .oscar__article {
        margin-left: 12vw;
    }
    .oscar__title {
        font-size: 1.1rem;
    }
    .oscar__flower {
        z-index: -1;
    }
    
    img.oscar__img {
        margin-left: 18vw;
        width: 60%;
    }
    .swiper {
        width: 75%;
    }
    
    .site-footer {
        padding-top: 12em;
    }
    
    .site-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    li {
        padding-top: 1em;
    }
    
    //menu 
    img.orange,
    img.orchid-flower {
        display: none;
    }
    img.burger-menu__logo {
        left: 0;
        width: 100%;
    }
    
    .burger-menu ul {
        left: 0;
        top: 60vw;
    }
    
    .burger-menu p {
        margin-top: 10%;
    }
    img.hibiscus-flower {
        width: 100%;
        top: 780px;
        left: -0.1px;
    }
}

@media (max-width: 375px) {
    #studio h2 {
        font-size: 2rem;
    }
    //menu
    .burger-menu ul {
        left: 10vw;
    }
    
    img.burger-menu__logo {
        left: 10vw;
    }
    img.hibiscus-flower {
        left: 10vw;
        top: 180vw;
    }
    .burger-menu ul li a {
        font-size: 2.3rem;
    }
}


@media (max-width: 320px) {
    
    
    #studio h2 {
        font-size: 1.5rem;
    }
    
    .story #characters h3,
    .story #place h3 {
        font-size: 2rem;
    }
    .oscar__title {
        font-size: 0.9rem;
    }
    .swiper {
        width: 70%;
    }
    
    //menu
    .burger-menu ul {
        left: 0;
    }
    .burger-menu ul li a {
        font-size: 2.3rem;
    }
  
    img.burger-menu__logo {
        left: 5vw;
    }
    img.hibiscus-flower {
        left: 5vw;
        top: 180vw;
        
    }
}