
.open {
  display: flex !important;
}

.burger-menu {
  position: fixed;
  width: 1440px;
  height: 100vh;
  background-color: #FFF5E9;
  top: 80px;
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: $animationDown;
}

.burger-menu__body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  padding: 30px 10px; // to check
}

.burger-menu__content {
  display: flex;
  position: absolute;
  z-index: 1;
}


.burger-menu ul {
  position: relative;
  top: 170px;
  left: 485px;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  background: #FFF5E9; 
}

// .burger-menu__text li {
//   display: flex;
//   justify-content: center;
//   padding-top: 15px;
// }
.burger-menu__text li a {
  //display: flex;
  font-size: 54px;
  font-weight: 400;
  //align-content: center;
  text-decoration: none;
  color: #000;
  transition: text-shadow 0.3s ease;
  &:hover {
    text-shadow: -1px -1px 4px rgba(255, 92, 0, 0.3), 
    4px -1px 4px rgba(255, 92, 0, 0.3), 
    -1px 4px 4px rgba(255, 92, 0, 0.3), 
    4px 4px 4px rgba(255, 92, 0, 0.3);
  };
}


//images burger menu content
.burger-menu__content img {
  max-width: none;
  position: absolute;
  z-index: 1;
}
img.black {
  @include burgerImgPos (150px, 305px, 1030px);
}
img.orange {
  @include burgerImgPos(105px, 510px, 70px);
}
img.violet {
  @include burgerImgPos(110px, 200px, 250px);
}
img.violet-flower {
  @include burgerImgPos(63px, 250px, 1385px);
}
img.red-flower {
  @include burgerImgPos(50px, 400px, 150px);
}
img.hibiscus-flower {
  @include burgerImgPos(626px, 350px, 1100px);
}
img.orchid-flower {
  @include burgerImgPos(172px, 25px, -70px);
}
img.sunflower-flower {
  @include burgerImgPos(216px, 40px, 1039px);
}
img.burger-menu__logo {
  @include burgerImgPos(180px, 0px, 610px);
}

.burger-menu__cats {
  line-height: 0;
}

.burger-menu__flower {
  line-height: 0;
  animation: $rotationFlower;
}

.burger-menu p {
  margin-top: 80px;
}