#page {
    max-width: 1440px;
    margin: 0 auto;
}

.main-navigation a {
    display: block;
    white-space: nowrap;
    margin: 0 auto;
}

//les nuages
.story #place {
    background-image: url("../foce-child/assets/images/Studio_Koukaki-image_place.png");
    position: relative;
  }
  
  .cloud__little {
    position: absolute;
    left: 793px;
    top: 248px;
    filter: blur(20px);
    transition: left 10s ease-in-out;
    transform: translateX(0);
  }
  
  .cloud__big {
    position: absolute;
    left: 1031px;
    top: 65px;
    filter: blur(20px);
    transition: left 10s ease-in-out;
    transform:  translateX(0);
  }

//footer 
//modification par rapport du oscar section
.site-footer {
    &::before,
    &::after {
      display: none;
    }
  }
  