//NAVBAR
.navbar__links {
 margin-left: 40px;
 margin-right: 40px;
 
}

.hidden {
   display: none;
}

.visible {
    opacity: 1;
    display: block;


}



.navbar {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.site-title {
    margin-left: 540px;
}