//section Oscar

#oscar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 125.28px;
  animation: $animationUp;
}
.oscar__flower {
position: absolute;
z-index: 3;
top: -6.9vw; //-100px;
right: 76.3vw; //1100px;
line-height: 0;
animation: $rotationFlower;
}
.oscar__article {
  display: block;
  position: relative;
  width: auto; 
  height: auto;
  margin-left: 0.7vw;
  margin-right: 1.4vw;
}

.oscar__title {
    display: block;
    position: relative;
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 2.6em;      
    line-height: 1.2;
    background-image: url("../foce-child/assets/images/oscars-bg-image.png");
    background-size: contain;
    background-position: left;
    text-align: left;
    padding: 1.8em 2em;

  
  // &::before {
  //   content: url("../foce/assets/images/Sunflower.png");
  //   display: inline-block;
  //   width: 216px;
  //   height: auto;
  //   position: absolute;
  //   top: -95px;
  //   left: 95px;
  // }
  
}



#studio {
  div::after{
    content: url('../foce/assets/images/Orchid.png');
    position: absolute;
    width: 172px;
    height: auto;
    left: 1334px;
    top: 400px;
  }
}



