//SWIPER

.story #characters div {
    flex: none;
  }
  
  .story #characters h3 {
    background-position: left;
    text-align: left;
    margin-left: 100px;
    padding-left: 45px;
  }
  
  
  
  .swiper {
    width: 80%;
    max-width: 1266px;
    height: 500px;
    overflow: hidden;
    
  }
  
  
  
  .swiper-slide {
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
  }
  
  .swiper-pagination {
    padding-top: 0;
    
    
  }
  