@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
}
}

@keyframes fadeInUpReverse {
  0% {
    opacity: 1;
    transform: translateY(-200px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
}
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  0% {     
    transform: rotate(0deg);
    transform-origin: center center; /* Set the transform origin 100% the center of the image */
  }
  
  100% {
    transform: rotate(360deg);
    transform-origin: center center; /* Maintain the same transform origin for the end of the animation */
  }
}

@keyframes clouds {
  0% {
    transform: translateX(0px);

  }
  50% {
    transform: translateX(-150px);

  }
  100% {
    transform: translateX(-300px);
  }
}
//nouveau keyframe pour les titre de headers
@keyframes glideUp {
  0% {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes float {
0% {
  transform: translate(-50%, -100%) rotate(0deg);
}

50% {
  transform: translate(-50%, -90%) rotate(-5deg);
}

100% {
  transform: translate(-50%, -95%) rotate(0deg);
}
}

@keyframes logoUp {
  0% {
    opacity: 0;
    transform: translateY(200px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
}
}

@keyframes floatLogo {
  0% {
    top: 0%;
    left: -0.3%;
    rotate: -1deg;
  }
  
  25% {
    top: -0.5%;
    left: -0.15%;
    rotate: -0.5deg;
  }

  50% {
    top: -1%;
    left: 0%;
    rotate: 0deg;
  }
  
  75% {
    top: -2%;
    left: -0.25%;
    rotate: 0.5deg;
  }

  100% {
    top: -3%;
    left: -0.5%;
    rotate: 1deg;
  }
}

