@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
}
}

@keyframes faceInUpReverse {
  from {
    opacity: 1;
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes rotation {
  0% {     
    transform: rotate(0deg);
    transform-origin: center center; /* Set the transform origin to the center of the image */
  }
  
  100% {
    transform: rotate(360deg);
    transform-origin: center center; /* Maintain the same transform origin for the end of the animation */
  }
}



@keyframes clouds {
  0% {
    transform: translateX(0px);

  }
  50% {
    transform: translateX(-150px);

  }
  100% {
    transform: translateX(-300px);
  }
}
//nouveau keyframe pour les titre de headers
@keyframes glideUp {
  0% {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}


@keyframes float {
0% {
  transform: translate(-50%, -100%) rotate(0deg);
}

50% {
  transform: translate(-50%, -90%) rotate(-5deg);
}

100% {
  transform: translate(-50%, -95%) rotate(0deg);
}
}


// @keyframes float {
   
//     0% {
//       transform: translate(0, 0);
//     }
//     10% {
//       transform: translate(6px, -5px);
//     }
//     20% {
//       transform: translate(15px, 3px);
//     }
//     30% {
//       transform: translate(5px, -2px);
//     }
//     40% {
//       transform: translate(9px, 1px);
//     }
//     50% {
//       transform: translate(5px, -10px);
//     }
//     60% {
//       transform: translate(3px, -8px);
//     }
//     70% {
//       transform: translate(0px, -4px);
//     }
//     80% {
//       transform: translate(5px, 0px);
//     }
//     90% {
//       transform: translate(2px, -5px);
//     }
//     100% {
//       transform: translate(0, 0);
//     }
// }