@mixin burgerImgPos($width, $top, $left) {
    width: $width;
    top: $top;
    left: $left;
}

// @mixin catFloatDirection ($direction) {
//     animation-fill-mode: $direction;
// }


// @mixin catFloat ($animationCat, $translateYStart, $translateYMiddle, $translateYEnd, $rotateMiddle, $duration) {
//     @keyframes #{$animationCat} {
//       0% {
//         transform: translate(-50%, #{$translateYStart}) rotate(0deg);
//       }
//       50% {
//         transform: translate(-50%, #{$translateYMiddle}) rotate(#{$rotateMiddle});
//       }
//       100% {
//         transform: translate(-50%, #{$translateYEnd}) rotate(0deg);
//       }
//     }
//     animation: #{$animationCat} #{$duration} infinite;
// }
    

  
  
  