@mixin burgerImgPos($width, $top, $left) {
    width: $width;
    top: $top;
    left: $left;
}

@mixin floating-effect($duration: 2s, $timing-function: ease-in-out, $delay: 0s) {
    animation: float $duration $timing-function infinite $delay;
  }

  