@import 'variables';
@import 'keyframes';



// general 


.banner {
  background-image: none;
}

//animation hero

.banner {
  overflow: hidden;
}

.video-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.background-video {
  z-index: -1;
  animation: $animationDown;
}

.fallback-image {
  display: none;
}
.logo-img {
  position: absolute;
  animation: $animationUp, $headerFloat;
}






.story {
  animation: $animationUp;
  p {
    animation: $animationText;
  }
}
#place {
  animation: $animationUp;
  p {
    animation: $animationText;
  }
}
#studio {
  animation: $animationUp;
  p {
    animation: $animationText;
  }
}
#characters {
  animation: $animationUp;
}

//section Oscar
#oscar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 237px;
  margin-bottom: 125.28px;
  animation: $animationUp;
  
}

.oscar__article {
  box-sizing: content-box;
  width: 825px; // contre le maquette
  height: 200.02px;
  
}


.oscar__title {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 42px;      
  line-height: 1.2;
  background-image: url("../foce-child/assets/images/oscars-bg-image.png");
  background-size: 800px 260px; //contre le maquette
  letter-spacing: -2%;
  width: 675px;
  
  &::before {
    content: url("../foce/assets/images/Sunflower.png");
    width: 216px;
    height: auto;
    position: absolute;
    top: -200px;
    left: 95px;
    
  }
}


#studio {
  div::after{
    content: url('../foce/assets/images/Orchid.png');
    position: absolute;
    width: 172px;
    height: auto;
    left: 1334px;
    top: 400px;
  }
}



// DISPLAY NONE POUR LES FLEURS DANS LE FOOTER

.site-footer {
  &::before,
  &::after {
    display: none;
  }
}

//rotation des fleurs
.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
#studio div::after,
.oscar__title::before,
.site-footer ul::after {
  line-height: 0;
  animation: $rotationFlower;
}


.animated-header {
  animation: $animationHeader;

  
  
  &:nth-child(2) {
    animation-delay: 1s;
  }

  &:nth-child(3) {
    animation-delay: 1.5s;
  }
  &:nth-child(4) {
    animation-delay: 2s;
  }
}

//les nuages
.story #place {
  background-image: url("../foce-child/assets/images/Studio_Koukaki-image_place.png");
  position: relative;
}


  .cloud__little {
    position: absolute;
    left: 793px;
    top: 248px;
    filter: blur(20px);
    //transition: left 0.5s ease;
  }

.cloud__big {
  position: absolute;
    left: 1031px;
    top: 65px;
    filter: blur(20px);
    //transition: left 0.5s ease;
  }

  .clouds-animated {
    animation: $animationClouds;
    //transition: left 0.5s ease;
  }

  //SWIPER

  .story #characters div {
    flex: none;
  }

  .story #characters h3 {
  background-position: left;
  text-align: left;
  margin-left: 100px;
  padding-left: 45px;
  }



  .swiper {
    max-width: 1266px;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 150px;
    overflow: hidden;
    
  }

 
 
    .swiper-slide {
      background-size: cover;
      width: 300px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
    }
  
.swiper-pagination {
  padding-top: 0;
  
  
}
  
