$animationUp: fadeInUp 1000ms ease-in-out;
$animationDown: fadeInDown 1000ms ease-in-out;
$animationText: pText 1000ms ease-in-out;
$rotationFlower: rotation 10000ms linear infinite;
$animationHeader: titles 200ms ease-in;