$animationUp: fadeInUp 1000ms ease-in-out;
$animationDown: fadeInDown 1000ms ease-in-out;
$animationText: pText 1000ms ease-in-out;
$rotationFlower: rotation 10000ms linear infinite;
$animationHeader: titles 1000ms ease-in forwards;
$animationClouds: clouds 1000ms linear forwards;
$headerFloat: float 2s ease-in-out infinite;